body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

div {
  padding: 3vw 3vh;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity-card {
  background-color: white;
  width: 25vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1vw 1vh;
  border-radius: 8%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensures padding and border are included in width and height */
  overflow: hidden; 
}

.activity-card img {
  width: 100%;
  height: auto; 
  max-height: 60%;
  border-radius: 5%;
  object-fit: cover;
  display: block;
}

.activity-card h3 {
  color: #333;
  margin-top: 2vh;
  margin: 1vw;
  text-align: center;
  font-size: 1vw 1vh; 
}

.activity-card p {
  color: #333;
  margin: 0.5vh 0;
  text-align: center;
  font-size: 1vw 1vh;
}

a {
  text-decoration: none;
  color: inherit;
}


.background-image {
  width: 60%;
  height: auto;
}

/* NAV BAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  width: 100%;
  height: 10vh; 
  gap: 2%;
  color: #fff;
  padding: 10px 20px; /* Adjusted for clarity */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.navbar .left,
.navbar .center,
.navbar .right {
  display: flex;
  align-items: center;
  gap: 3%;
}

.navbar .center {
  justify-content: center;
  flex-grow: 1; 
}

.navbar .navlink {
  margin: 0 10vh;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .navlink:hover {
  color: #ddd;
}


/* BUTTONS */

button {
  background-color: #007BFF;
  color: white;
  padding: 1vw 2vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5vw;
}

button:hover {
  background-color: #0056b3;
}