body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 3%;
  background-color: #f4f4f9;
}

div {
  padding: 3vw 3vh;
}

button {
  background-color: #28323d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0e1013;
}

/* ACTIVITIES  */

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity-card {
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  width: 25vw;
  height: 10vh;
  display: flex;
  margin: 1vw 1vh;
  border-radius: 8%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.activity-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.activity-card img {
  width: 100%;
  height: auto;
  max-height: 70%;
  border-radius: 5%;
  object-fit: cover;
  display: block;
  flex-grow: 1;
}

.activity-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  padding: 1vh 0;
  bottom: 0;
}

.activity-card h3 {
  color: #333;
  margin: 1vw;
  text-align: center;
  font-size: 1vw 1vh;
  position: relative;
}

.activity-card p {
  color: #333;
  margin: 0.5vh 0;
  text-align: center;
  font-size: 1vw 1vh;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-image {
  width: 60%;
  height: auto;
}

/* NAV BAR */

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  width: 100%;
  height: 10vh;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.navbar .logo {
  width: 10vw;
  padding: 0%;
}

.navbar .left{
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 0;
  text-wrap: nowrap;
  position: absolute;
  left: 0%;
}

.navbar .right {
  flex: 1;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  gap: 8%;
  text-wrap: wrap;
  box-sizing: border-box;
}

.navbar .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  min-width: 0;
  justify-content: center;
  flex-grow: 1;
  text-wrap: nowrap;
  gap: 8%;
}

.navbar .navlink {
  margin: 0 2vw;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .navlink:hover {
  color: #ddd;
}


/* BUTTONS */

button {
  background-color: #3ea1cb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3ea1cbaa;
}