@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card {
      background-color: theme('colors.blue');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
    .card-hover{
        transform: translateY(-1px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }
    .button {
        background-color: #3EA1CB;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .button-hover{
        background-color: #3ea1cbaa;
    }
  }